<style>
	p {
		text-align: center;
	}
	.items {
		color: blue;
		text-align: center;
		 margin-bottom: 10px;
		}
	.app {
		text-align: center;
	}
	.button {
		text-align: center;
	  margin-top: 10;
		margin-bottom: 30;
	}
	.color {
		font-size: 20px;
	}
	.tr {
		background-color:red;
	}
h1 {
	text-align: center;
}
.input-spaces {
text-align: center;
}
input {
	display: inline-block;
}
</style>
